<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user.sex %>
  </p>

  <p>
    <strong>Mail address:</strong>
    <%= user.mail_address %>
  </p>

  <p>
    <strong>Email permission:</strong>
    <%= user.email_permission %>
  </p>

</div>
